!!! transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    style(type = 'text/css')
      h1 {
        color: #fe57a1
      }
 body

 - for (var i = 0; i < 10; ++i) {
   p= bodys[i];
 - }
    
    

  
  

    